.header {
  position: sticky;
  top: 0;

  padding-top: 1rem;

  backdrop-filter: blur(5px);
}
.nav {
  padding: 0.5rem 0;
  margin: 0 auto;

  backdrop-filter: blur(5px);
}
.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 30%;
  margin: 0 auto;

  list-style: none;
}
.navLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

  text-decoration: none;
  font-size: 14px;
  font-weight: 600;

  color: var(--grey-100);
}
.navLink p {
  color: var(--grey-100);
}
.navLink:hover {
  color: var(--color-white);
}
.navLink p:hover {
  color: var(--color-white);
}
.active {
  border-bottom: 2px solid var(--color-white);
}
